
@import 'base/reset.scss';
.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/index_bg.png") no-repeat;
  background-size: cover;
  z-index: 999;
}
.content {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.input-box {
  padding-top: 133px;
  width: 233px;
  height: 261px;
  background: url("../img/select_info.png") no-repeat center / cover;
}
.input-wrapper {
  margin: 0 10px 20px;
  padding-left: 77px;
  height: 33px;
  input {
    padding-left: 5px;
    width: 100%;
    height: 33px;
  }
  &.name-input {
    background: url("../img/name.png") no-repeat left center / 67px 33px;
  }
  &.tel-input {
    background: url("../img/phone.png") no-repeat left center / 67px 33px;
  }
}
.query-btn {
  margin: 30px auto;
  width: 119px;
  height: 39px;
  background: url("../img/confirm_btn.png") no-repeat center / cover;
}